
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

body, ul, li, h1, h2, h3, h4, h5, p, iframe, button, input, textarea {margin: 0; padding: 0; border: 0; list-style-type: none;}
strong, em {font-weight: normal; font-style: normal;}
a {text-decoration: none; color: #000;}

/* utils */

$app-max-width: 1100px;
$desktop: '(min-width: 820px)';
$phone: '(max-width: 819px)';

/* common */

$radius: 20px;
$screen-padding: 10px;

@mixin centered() {
	@media #{$desktop} {
		& {margin: 0 auto; width: 100%; max-width: $app-max-width;}
	}
	@media #{$phone} {
		& {margin: 0 $screen-padding;}
	}
}

@mixin font-size($size, $lineHeight: 1.3em) {
	& {font-size: $size; line-height: $lineHeight;}
}

@mixin auto-font-size($size, $lineHeight: 1.3em) {
	@media #{$desktop} {
		& {font-size: $size; line-height: $lineHeight;}
	}
	@media #{$phone} {
		& {font-size: $size * 0.8; line-height: $lineHeight;}
	}
}

@mixin gradient-text($a, $b) {
	background-color: $a;
	background-image: linear-gradient(45deg, $a, $b);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}
@mixin orange-gradient-text() {
	& {@include gradient-text(#D7143B, #D76215);}
}
@mixin violet-gradient-text() {
	& {@include gradient-text(#2528BD, #8B24BD);}
}
@mixin black-gradient-text() {
	& {@include gradient-text(#000, #313131);}
}
@mixin azure-gradient-text() {
	& {@include gradient-text(#49B0C9, #4F8DCB);}
}

@mixin black-gradient-background() {
	& {background: linear-gradient(90deg, #000 0%, #313131 100%);}
}
@mixin orange-gradient-background() {
	& {background: linear-gradient(90deg, #D7143B 0%, #D76215 100%);}
}
@mixin violet-gradient-background() {
	& {background: linear-gradient(90deg, #2528BD 0%, #8B24BD 100%);}
}

.btn {display: inline-block; padding: 12px 20px; cursor: pointer; vertical-align: middle; text-decoration: none !important; border-radius: $radius;
	transition: opacity 150ms linear; background: green;}
.btn-small {padding: 6px 12px;}
.btn:hover {opacity: 0.7;}
.btn-black {color: #FFF; background: #000;
	background: linear-gradient(90deg, #000 0%, #313131 100%);}
.btn-gray {background: #E6E6E6;}
.btn-white {background: #FFF;}

.ico {display: inline-block; width: 18px; height: 18px; margin: -6px 0 -4px; vertical-align: middle; background-size: 18px 18px;}
.ico-mr {margin-right: 6px;}
.ico-ml {margin-left: 6px;}
.ico-wallet-white {background-image: url('./icons/ico-wallet-white.svg');}
.ico-chain-black {background-image: url('./icons/ico-chain-black.svg');}
.ico-arrow-right-white {background-image: url('./icons/ico-arrow-right-white.svg');}
.ico-save-white {background-image: url('./icons/ico-save-white.svg');}
.ico-refresh-black {background-image: url('./icons/ico-refresh-black.svg');}
.ico-refresh-white {background-image: url('./icons/ico-refresh-white.svg');}

.ico-rotating {animation: rotation 500ms infinite linear;}
@keyframes rotation {
	from { transform: rotate(0deg);	}
	to { transform: rotate(359deg); }
}

/* main */

html, body, code, h1, h2, h3, h4, h5, input, textarea, button, select {font: 14px/1.3em Inter, 'Open Sans', Verdana, Tahoma; font-weight: 500;}

html {height: 100%;}
body, #root {color: #000; min-height: 100vh;}

.wallet-connector {
	& {position: fixed; z-index: 100;  padding: 15px; box-sizing: border-box; background: #FFF; text-align: center; border-radius: $radius; border: 1px solid #000; box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);}
	h4 {@include auto-font-size(30px); font-weight: 700;}
	.wallets .wallet {width: 130px; cursor: pointer; background-color: transparent; background-size: 130px 130px; background-repeat: no-repeat;
		transition: opacity 150ms linear;}
	.wallets .wallet:hover {opacity: 0.8;}
	.wallets .wallet strong {display: block; padding-top: 130px;}
	.wallets .wallet-metamask {background-image: url('./logo-metamask.svg');}
	.cancel {padding-top: 15px;}

	@media #{$desktop} {
		& {top: 10%; left: 50%;  width: 400px; margin-left: -200px;}
	}
	@media #{$phone} {
		& {top: 10px; left: 10px; right: 10px;}
	}
}

.wallet-alert {
	&.mt {padding-top: 20px;}
	&.mb {padding-bottom: 20px;}
	.warning {@include centered(); color: #FFF; padding: 15px; box-sizing: border-box; text-align: center; @include black-gradient-background(); border-radius: $radius;}
}

.loading-idle {padding: 80px 0; text-align: center;}
.loading-error {
	& {padding: 80px 0; text-align: center;}
	.message {padding-bottom: 10px;}
}

/* .app */

@mixin dotted-desktop-nav($dotColor) {
	@media #{$desktop} {
		& li {position: relative; display: inline-block; margin: 0 22px;}
		& li::before {position: absolute; content: ' '; display: block; top: 50%; left: -26px; margin-top: -4px; width: 8px; height: 8px; border-radius: 50% 50%; background: $dotColor;}
		& li:first-child::before {display: none;}
	}
}

.app {min-height: 100vh; background: #151515;}

.app-header .header {
	& {@include centered();}
	.logo h1 {@include font-size(36px); font-weight: 700; letter-spacing: -0.03em;}
	.nav {flex: 1; text-align: center; @include dotted-desktop-nav(#E7E7E7);}
	.nav li a:hover {text-decoration: underline;}

	@media #{$desktop} {
		& {display: flex; align-items: center;}
		.nav {padding: 42px 0;}
		.nav li a {@include font-size(17px); letter-spacing: -0.01em;}
	}
	@media #{$phone} {
		& {padding: 15px 0; text-align: center;}
		.nav {padding: 20px 0;}
		.nav li {display: inline-block; padding: 0 10px;}
	}
}

.app-main {background: #FFF;}

.app-footer {
	& {text-align: center; color: #414141;}
	.links {@include dotted-desktop-nav(#303030);}
	.links li a {color: #FFF;}
	.links li a:hover {text-decoration: underline;}
	.providers strong {display: block; padding: 0 0 15px;}
	.providers .provider {height: 48px; text-indent: -9999px; background: url('./footer-providers.png'); background-repeat: no-repeat; background-size: 656px 48px;
		transition: opacity 150ms linear;}
	.providers .provider:hover {opacity: 0.8;}
	.providers .provider.moralis {width: 145px; background-position-x: 0;}
	.providers .provider.ipfs {width: 44px; background-position-x: -176px;}
	.providers .provider.avalanche {width: 210px; background-position-x: -257px;}
	.providers .provider.covalent {width: 158px; background-position-x: -498px;}

	@media #{$desktop} {
		.links {padding: 50px 0;}
		.providers .provider {display: inline-block; margin: 0 10px;}
		.rigths {padding: 40px 0;}
	}
	@media #{$phone} {
		.links {padding: 30px 0;}
		.links li a {display: inline-block; margin: 5px 0;}
		.providers .provider {display: block; margin: 5px auto;}
		.rigths {padding: 30px 0;}
	}
}

/* home */

.home-intro {
	& {@include centered();}
	.info h4 {@include auto-font-size(58px); font-weight: 700; letter-spacing: -0.05em; margin-bottom: -10px; @include orange-gradient-text();}
	.info h3 {@include auto-font-size(80px); font-weight: 700; letter-spacing: -0.06em;}
	.info .subtitle {padding: 15px 0 25px; @include auto-font-size(20px); color: #929292;}

	@media #{$desktop} {
		& {display: flex; align-items: center;}
		.info {flex: 1;}
		.picture .frame {width: 300px; height: 510px; overflow: hidden; border-radius: $radius;}
		.picture .frame img {margin-left: -50%; width: auto; height: 510px;}
	}
	@media #{$phone} {
		& {text-align: center}
		.picture {padding-top: 30px;}
		.picture .frame img {max-width: 100%; height: auto; margin: 0 auto; border-radius: $radius;}
	}
}

.home-possibilities {
	& {@include centered();}
	ul li {position: relative; padding-left: 60px;}
	ul li:nth-child(1) .line {@include orange-gradient-text();}
	ul li:nth-child(2) .line {@include violet-gradient-text();}
	ul li:nth-child(3) .line {@include black-gradient-text();}
	ul li:nth-child(4) .line {@include azure-gradient-text();}
	ul li .icon {position: absolute; left: 0; top: 8px;}
	ul li .text .line {display: block; margin: -2px 0; @include font-size(28px); font-weight: 700; letter-spacing: -0.03em;}

	@media #{$desktop} {
		ul {display: table; width: 100%; margin: 40px 0;}
		ul li {display: table-cell; width: 25%;}
	}
	@media #{$phone} {
		ul {max-width: 300px; margin: 30px auto;}
		ul li {margin-bottom: 10px;}
	}
}

.home-gray {background: #F6F6F6; overflow: hidden;}

.home-pricing {
	.info h3 {@include auto-font-size(90px); font-weight: 700; letter-spacing: -0.04em; @include orange-gradient-text();}
	.info h4 {@include auto-font-size(50px); font-weight: 700; letter-spacing: -0.035em;}
	.info p {padding-top: 10px; color: #929292; @include auto-font-size(18px);}

	@media #{$desktop} {
		& {display: flex; align-items: center; width: 100%; max-width: 700px; margin: 70px auto;}
		.info {flex: 1; padding-left: 60px;}
		.picture .frame {width: 260px; height: 260px; border-radius: $radius; overflow: hidden;}
	}
	@media #{$phone} {
		& {padding: 30px 0; text-align: center;}
		.picture .frame img {max-width: 100%; height: auto; border-radius: $radius;}
	}
}

.home-statistics {
	& {@include centered();}
	ul li .value {display: block; margin: 0 20px; padding: 15px 0; text-align: center; background: #FFF; border-radius: $radius;}
	ul li .value .text {@include auto-font-size(56px); font-weight: 700; letter-spacing: -0.035em;}
	ul li:nth-child(1) .value .text {@include orange-gradient-text();}
	ul li:nth-child(2) .value .text {@include violet-gradient-text();}
	ul li:nth-child(3) .value .text {@include azure-gradient-text();}
	ul li .label {display: block; margin: 0 40px; padding: 13px 0; background: #E6E6E6; text-align: center; border-bottom-left-radius: $radius; border-bottom-right-radius: $radius;}

	@media #{$desktop} {
		ul {display: table; width: 100%; margin-bottom: 60px;}
		ul li {display: table-cell; width: 33%;}
	}
	@media #{$phone} {
		ul {padding-bottom: 30px;}
		ul li {margin: 0 auto 10px; max-width: 350px;}
	}
}

.home-start {
	& {background: #000; color: #FFF; text-align: center;}
	h3 {@include auto-font-size(50px); font-weight: 700; letter-spacing: -0.02em;}
	p {margin: 20px 0;}
	p img {max-width: 100%; height: auto;}

	@media #{$desktop} {
		& {padding: 70px 0;}
	}
	@media #{$phone} {
		& {padding: 50px 0;}
	}
}

/* section */

.page {background: #F6F6F6; padding-bottom: 30px;}

.section {
	& {@include centered();}

	.section-header {
		& {position: relative; text-align: center; padding: 30px 0;}
		h2 {@include auto-font-size(58px); font-weight: 700; letter-spacing: -0.045em;}

		@media #{$desktop} {
			.actions {position: absolute; top: 50%; right: 0; margin-top: -20px;}
		}
		@media #{$phone} {
			.actions {padding: 10px 0 0;}
		}
	}

	.section-body {
		& {background: #FFF; padding: 10px; border-radius: $radius;}
		.no-content {padding: 5px 0; text-align: center;}
		a {text-decoration: underline;}
		a:hover {text-decoration: none;}
	}
}

.table {
	& {overflow: auto;}
	table {width: 100%; min-width: 700px; border-spacing: 4px 4px;}
	th {padding: 12px 8px; background: #000; color: #FFF; border-radius: $radius / 2;}
	td {padding: 8px; background: #F6F6F6; border-radius: $radius / 2;}
	td.actions {width: 1%; white-space: nowrap;}
}

.form-section {
	.form-section-header {
		& {position: relative; padding: 15px 0 0;}
		h3 {@include auto-font-size(22px); font-weight: 700;}

		@media #{$desktop} {
			.actions {position: absolute; top: 15px; right: 0;}
		}
		@media #{$phone} {
			.actions {padding: 10px 0;}
		}
	}
	.form-section-body {
		& {position: relative; background: #F6F6F6; padding: 10px 10px 0; margin-top: 15px; border-radius: $radius / 2;}

		.form-section-body-title {position: absolute; left: 50%; top: -10px; width: 100px; margin-left: -50px; padding: 5px 10px; @include font-size(12px); border-radius: $radius; text-align: center; background: #C5C5C5; color: #575757;}
		.form-section-body-close {position: absolute; top: -10px; right: 0;}
		.form-section-body-close .close {width: 30px; height: 30px; color: #FFF; background: #D72633; border-radius: 50% 50%; cursor: pointer;}
		.form-section-body-close .close:hover {background: #A2212C;}
	}
}
.form-group {
	& {padding: 0 0 10px;}
	label {display: block; padding: 0 10px 10px;}
	label.checkbox {padding: 5px 0; cursor: pointer;}
	input[type=text], input[type=number], textarea {padding: 10px 15px; width: 100%; box-sizing: border-box; background: #FFF; border-radius: $radius / 2;}
	input[type=text]:read-only, input[type=number]:read-only, textarea:disabled {color: #7E7E7E;}
	textarea {resize: vertical;}
}
.form-error {padding: 15px 0 5px; color: #D7143B; @include font-size(16px); font-weight: bold;}
.form-submit {padding: 15px 0 5px; text-align: center;}

.status {
	& {display: inline-block; padding: 7px 15px; border-radius: $radius; vertical-align: middle;}
	&.status-idle {color: #FFF; @include orange-gradient-background();}
	&.status-success {color: #FFF; @include violet-gradient-background();}
}

.requests-header {
	h3 {@include auto-font-size(28px); font-weight: 700; letter-spacing: -0.02em;}

	@media #{$desktop} {
		& {position: relative;}
		.actions {position: absolute; right: 0; top: 0;}
	}
}
.request-details {
	& {margin-top: 10px; padding: 6px; background: #F6F6F6; border-radius: $radius;}
	.details {display: table; width: 100%;}
	.details .basic-info .value {display: inline-block; margin: 0 15px; @include font-size(16px); font-weight: bold; color: #D72633; vertical-align: middle;}
	.details .meta-info {color: #929292;}
	.details .meta-info em {color: #000;}
	.values {overflow: auto;}
	.values table {width: 100%; min-width: 700px; border-spacing: 4px;}
	.values table td {background: #FFF; padding: 10px; border-radius: $radius / 2;}

	@media #{$desktop} {
		.details .basic-info {display: table-cell; vertical-align: middle; padding: 6px;}
		.details .meta-info {display: table-cell; vertical-align: middle; text-align: right; padding: 6px;}
		.details .meta-info .meta {display: inline-block; vertical-align: middle;}
		.details .meta-info .actions {margin-left: 20px;}
	}
	@media #{$phone} {
		.details {padding: 6px;}
		.details .meta-info {padding-top: 6px;}
		.details .meta-info .actions {display: block; padding-top: 6px;}
	}
}

/* .web */
.web {min-height: 100vh; background: #F6F6F6; overflow: hidden;}

.web-header {@include centered(); text-align: right; padding: 30px 0;}
.web-footer {
	& {text-align: center; padding: 30px 0; color: #929292;}
	a:hover {text-decoration: underline;}
}

.web-form {
	& {@include centered(); background: #FFF; border-radius: $radius;}
	.web-form-cover {@include black-gradient-background(); height: 100px; border-top-left-radius: $radius; border-top-right-radius: $radius;}

	.web-form-body {
		& {position: relative; padding: 15px;}
		h2 {@include auto-font-size(34px); font-weight: 700; letter-spacing: -0.02em;}
		.total-price {padding: 10px 20px; color: #FFF; @include orange-gradient-background();}
		.total-price em {@include font-size(12px);}
		.total-price .value {font-weight: 700;}

		.description {padding: 0 0 10px; @include font-size(16px); color: #767676;}
		.description p {padding: 10px 0 0;}

		.web-form-group {
			label {display: block; padding: 10px 0; font-weight: bold;}
			input[type=text], input[type=number] {padding: 10px 15px; width: 100%; box-sizing: border-box; background: #F6F6F6; border-radius: $radius / 2;}
		}

		@media #{$desktop} {
			.total-price {position: absolute; top: 10px; right: 0; border-top-left-radius: $radius; border-bottom-left-radius: $radius;}
		}
		@media #{$phone} {
			.total-price {display: inline-block; margin-top: 10px; border-radius: $radius;}
		}
	}

	.web-form-error {padding: 15px; color: #FFF; font-weight: bold; @include orange-gradient-background();}

	.web-form-submit {padding: 15px; text-align: center; background: #E8E8E8; border-bottom-left-radius: $radius; border-bottom-right-radius: $radius;}
}

.receipt {
	& {@include centered(); padding: 15px; background: #FFF; border-radius: $radius;}
}
