
<IfModule mod_expires.c>
	<FilesMatch "\.(jpg|jpeg|png|gif|swf|css|js|ico)$">
		Header set Cache-Control "max-age=604800, public"
	</FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{HTTPS} off
	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
</IfModule>
